@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-wrap {
  @apply my-10 mx-5 flex flex-col rounded-lg border-2 border-black bg-yellow-300 md:my-0 lg:mx-10;
}

.character-thirds {
  @apply flex flex-col justify-center;
}

.card-thumbnail {
  @apply flex justify-center rounded-t-lg border-y-2 border-black bg-yellow-900 md:w-full md:border-none;
}

.card-text {
  @apply rounded-b-md border-black bg-white px-2 pb-2;
}

.navcontainer-content {
  @apply mx-5 border-b-2 border-transparent transition duration-150 hover:border-black;
}

.project-card {
  @apply mx-5 my-2 flex flex-col rounded-lg border-2 border-black bg-gray-100 hover:bg-gray-300 md:flex-row;
}

.project-card-thumbnail {
  @apply flex justify-center border-black border-black bg-green sm:rounded-t-lg sm:border-b-2 md:rounded-l-lg md:border-r-2 md:border-r-2 md:border-none;
}

.project-date-divider {
  @apply mx-5;
}

.card-wrap:hover {
  box-shadow: 6px 6px 0 0 #000;
  -webkit-transform: translate(-6px, -6px);
  -ms-transform: translate(-6px, -6px);
  transform: translate(-6px, -6px);
}
