@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-wrap {
  @apply mx-10 flex max-w-[90%] flex-col rounded-2xl border-2 border-black bg-yellow-500;
}

.character-thirds {
  @apply flex flex-col justify-center;
}

.card-thumbnail {
  @apply flex justify-center rounded-t-2xl;
}

.card-text {
  @apply rounded-b-2xl border-t-2  border-black bg-white px-2;
}

.navcontainer-content {
  @apply mx-5 border-b-2 border-transparent transition duration-150 hover:border-black;
}

.card-wrap:hover {
  box-shadow: 6px 6px 0 0 #000;
  -webkit-transform: translate(-6px, -6px);
  -ms-transform: translate(-6px, -6px);
  transform: translate(-6px, -6px);
}
